* {
  text-decoration: none;
}

@font-face {
    font-family: SSF;
    src: url(https://s3.amazonaws.com/aws-website-leggedgamerscom-ge55i/Suicide+Squad+Font.ttf);
}

.header {
  margin-top: -3%;
  padding: 0;
  background-position: center;
  text-align: center;
  text-shadow: 1px 1px black;
}

.header a h1 {
  font: bold 350% SSF;
  color:#bf00ff;
  text-shadow: #b3ff99;
}

.header h2 {
  margin-top: -5%;
  margin-bottom: 2%;
  color: #b3ff99;
  text-align: center;
  text-shadow: 2px 2px black;
  font: bold 250% SSF;
}

/* NAVBAR */
nav {
  text-align: center;
  margin-top: -20px;
  background-color: #b3ff99;
  border: 5px solid #bf00ff;
  border-radius: 5px;
  color: #bf00ff;
}

.childnav {
  background-color: #b3ff99;
  color: #bf00ff;
  text-align: center;
  text-shadow: 2px 2px white;
  display: inline-block;
  cursor: pointer;
  font:  125% fantasy;
  border: 3px solid #bf00ff;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.navbar  {
  background-color: #b3ff99;
  text-shadow: 1px 1px white;
  margin: 5px;
  position: relative;
  padding: 5px;
  font:  100% fantasy;
  color: #bf00ff;
  display: inline-block;
  cursor: pointer;
  border: 3px solid #bf00ff;
  border-radius: 5px;
}

nav a:hover {
  background-color: #bf00ff;
  color: #b3ff99;
  text-align: center;
  text-shadow: 2px 2px black;
}

body {
  width: 97%;
  background-color: #e6e6e6;
}
.container {
  width: 100%;
  display: inline-block;
  padding: .5%;
  margin: 1%;
  box-sizing: border-box;
}

.column {
  position: relative;
  float: left;
}
.center {
  width: 60%;
  left: 20%;
}

iframe {
  padding: 1%;
  width: 100%;
  max-height: 480px;
}


/* THIS IS THE LEFT BAR */
.left {
  background-color: #bf00ff;
  border-radius: 5px;
  width: 20%;
  right: 61.5%;
  font: 100%  fantasy;
  color: #b3ff99;
  text-align: center;
  text-shadow: 2px 2px black;
  min-height: 480px;
  overflow: hidden;
  border: 5px solid #b3ff99;
}

.left table {
  width: 100%;
  min-height: 480px;
}

.ur {
  font-size: 150%;
  padding: -1%;
  border-bottom: 5px solid #b3ff99;
}

.TDP {
  font-size: 125%;
  border-bottom: 5px solid #b3ff99;
}


/* THIS IS THE RIGHT BAR */
.right {
  background-color: #bf00ff;
  border: 5px solid #b3ff99;
  width: 15%;
  right: -2.7%;
  min-height: 480px;
  border-radius: 5px;
}
.footer {
  clear: both;
  height: 15%;
  border: 5px solid #bf00ff;
  border-radius: 5px;
  text-shadow: 1px 1px white;
  background-color: #b3ff99;
  color: #bf00ff;
  margin: auto;
  padding: 5px;
  text-align: center;
  font-size: 125%;
}
