.news {
    height: 50px;
    width: 120px;
    border: 2px dashed #6495ED;
    background-color: #000;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

.contact-btn {
  text-align: right;
}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}
