* {
    text-align: center;
}

h1 {
	font-family: Libre Baskerville;
}

div {
    border-radius: 5px;
    border: 5px; solid black;
    opacity: .5;
}

@font-face {
	font-family: Libre Baskerville;
	src: https://fonts.google.com/specimen/Libre+Baskerville;
}

#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	margin-bottom: 10px;
	background-color: #66ff33;
	color: #862d86;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #616161;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	color: #ffffff;
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 400px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 400px;
	background-color: #F4EBC3;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}
