#header {
    padding: 2px;
    position: fixed;
    z-index: 1;
    height: 10%;
    width: 80%;
    color: #B6BEEB;
}

.left {
    height: 100%;
    width: 10%;
    margin-top; 6.5%;
    float: left;
    background-color: #76D8DF;
}

.right {
    height: 100%;
    width: 10%;
    background-color: #76D8DF;
    float: right;
}

#footer {
    clear: both;
    font-size 10px
}

.nav {
    column-count: 5;
    display: inline-block;
    text-decoration: none;
    border: 3px solid #616161;
    padding: 5px;
    margin: 20px 5px 20px 5px;
    float: both;
}

.topbar {
    border: 1px solid #616161;
    padding: 10px
}



.contact-btn {
  text-align: right;
    clear: both;
}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
  border-radius: 20%;
}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

a:link {
    color: #616161;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    color: #86592d;
