* {
    text-align: center;
}

div {
    border-radius: 5px;
    color: 2px; inset #B6BEEB;
}

#header {
    height: 10%;
    width: 100%;
    margin: auto;
    z-index: 1;
    position: fixed;
}

.left {
    height: 90%;
    width: 10%;
    float: left;
    color: #B6BEEB;
    position: relative
}

.content {
    height: 720px;
    width: 480px;
}

.right {
    height: 90%;
    width: 10%;
    float: right;
    position: relative;
}

#footer {
    clear: both;
}

.topbar {
    display: inline-block;
}

.contact-btn {
  text-align: right;
    clear: both;
}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
  border-radius: 20%;
}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

a:link {
    color: #616161;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    color: #86592d;
