h1 {
    display: inline-block;
    text-align: center;
}

.news {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.contact-btn {
  text-align: right;
}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}
