* {
    text-align: center;
}

div {
    border-radius: 5px;
    border: 2px; solid black;
    opacity: .5;
    background-color: #88ff4d;
}

#header {
    height: 90px;
    width: 90%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    z-index: 1;
    position: fixed;
    padding: 5px;
}

h1 {
    background-image: ('https://s3.amazonaws.com/aws-website-leggedgamerscom-ge55i/img/100+Legged+Gamer+Logo2.jpg')
}

.left {
    height: 90%;
    width: 10%;
    float: left;
    color: #862d86;
    position: relative;
    margin-top: 90px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding-top: 5px;
}

.right {
    height: 90%;
    width: 82%;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    clear: both;
    position: relative;
    padding-top: 15px;
    display: inline-block;
    margin: auto;
    height: 50px;
    width: 80%;
}

.topbar {
    display: inline-block;
    border: 2px solid #616161;
}

.contact-btn {
  text-align: right;
}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #616161;
  border-radius: 10%;
}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

a:link {
    color: #616161;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    color: #86592d;
