* {
    margin: auto;
}

#Web {
    display: inline-block;
    padding: 2px;
    margin: auto;
    position: fixed;
}

.nav {
    display: inline-block;
    text-decoration: none;
    border: 3px solid #616161;
    padding: 5px;
    margin: 20px 5px 20px 5px;
}



.contact-btn {
  text-align: right;
}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
  border-radius: 20%;
}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

a:link {
    color: #616161;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    color: #86592d;
