html, body {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 48px;
  text-align: center;
}

p {
  max-width: 65%;
  min-width: 500px;
}

h2 {
  text-align: center;
  font-size: 2.6rem;
}

li {
  display: inline;
  text-align: center;
  border: 3px solid #199A28;
}

.news {
  text-decoration: none;
  color: #cc0000, 32px;
  text-align: center;
}

.contact-btn {
  text-align: right;
}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}
