* {
    background-color: #000;
    text-align: center;
}

div {
    border-radius: 5px;
    color: 2px; inset #B6BEEB;
    background-color: #666;
}

#header {
    height: 10%;
    width: 100%;
    margin: auto;
    z-index: 1;
}

.left {
    height: 90%;
    width: 15%;
    float: left;
    color: #B6BEEB
}

.content {
    height: 80%;
    width: 70%;
}
.right {
    height: 90%;
    width: 15%;
    float: right;
}

#footer {
    clear: both;
}

.topbar {
    display: inline-block;
    margin: auto;
}
.contact-btn {
  text-align: right;
    clear: both;
}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
  border-radius: 20%;
}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

a:link {
    color: #616161;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    color: #86592d;
