h1 {
    display: inline-block;
    text-align: center;
    padding: 2px
    margin: auto;
}

.news {
    display: inline-block;
    text-decoration: none;
    border: 5px solid #000;
    margin: auto; 
}

.contact-btn {
  text-align: right;
}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
  border-radius: 20%;
}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}
