* {
  text-decoration: none;
}

.header_box {
  width: 100%;
}
.header {
  width: 98%;
  margin-top: -8px;
  padding: 0;
  background-repeat: no-repeat;
  background-color: #b3ff99;
  border: 5px solid #bf00ff;
  border-radius: 5px;
  background-image:url(https://s3.amazonaws.com/aws-website-leggedgamerscom-ge55i/img/100+Legged+Gamer+Logo.png);
  background-repeat: no-repeat;
  background-position: left;
  text-align: left;
  text-shadow: 1px 1px white;
  overflow-x: auto;
}

.header a h1 {
  padding: 5px;
  font: 200% Fantasy;
  color: #bf00ff;
  display: inline-block;
}

.navbar {
  color: #bf00ff;
  margin: 5px;
  position: relative;
  border: 3px solid #bf00ff;
  padding: 5px;
  border-radius: 20%;
  font: 150% fantasy;
  display: inline-block;
}

a:hover {
  color: #b3ff99;
  background-color: #bf00ff;
  text-shadow: 2px 2px black;
}
a:active {
  background-color: white;
  padding-bottom: 2px;
}

body {
  width: 100%;
  background-color: #ccc;
}
.container {
  width: 100%;
  display: inline-block;
  padding: .5%;
  margin: 1%;
}

.column {
  position: relative;
  float: left;
}
.center {
  width: 60%;
  left: 20%;
}

iframe {
  padding: 1%;
  width: 100%;
  max-height: 480px;
}


/* THIS IS THE LEFT BAR */
.left {
  background-color: #bf00ff;
  border: 5px solid #b3ff99;
  border-radius: 5px;
  width: 20%;
  right: 61%;
  font: 100%  fantasy;
  color: #b3ff99;
  text-align: center;
  text-shadow: 2px 2px black;
  overflow: auto;
  min-height: 480px;
}

.left table {
  margin: auto;
  width: 100%;
  overflow: scroll;
  min-height: 480px;
}

.left th {
  padding: 3px;
  border-bottom: 5px solid #b3ff99;
  width: 100%;
}
.UR {
  font-size: 150%;
}

.TDP {
  font-size: 125%;
}

.left td {
  padding: 5px;
  max-width: 100%;
  overflow-x: auto;
  
}

/* THIS IS THE RIGHT BAR */
.right {
  background-color: #bf00ff;
  border: 5px solid #b3ff99;
  width: 15%;
  right: -.8%;
  min-height: 480px;
  border-radius: 5px;
}
.footer {
  clear: both;
  height: 15%;
  border: 5px solid #bf00ff;
  border-radius: 5px;
  text-shadow: 1px 1px white;
  background-color: #b3ff99;
  color: #bf00ff;
  margin: auto;
  padding: 5px;
  text-align: center;
  font-size: 125%;
}

/*** IE6 Fix ***/
* html .left {
  left: 270px;           /* RC width */
}